<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
	.container-msjs{
		height: 200px;
		width: 420px;
		background: orange;
	}
	</style>

	<script src="../../../socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
	</script>
</head>
<body>
<div id="container-msjs" class="container-msjs">
	

</div>

<form method="post" action="" onsubmit="sendMsj(); return false;">
	<div>
		<textarea id="msj-to-send" placeholder="Ingrese su mensaje y presione enviar" rows="10" cols="50"></textarea>
	</div>
	
	<div>	
		<button>Enviar</button>
	</div>
</form>
</body>
</html>